.item-flex {
  flex: 1;
  color: #7367f0;
  &:hover {
    color: #7367f0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.loading-button {
  position: relative;
  top: -3px;
  right: 6px;
}
.change-secretariat{
  margin-top: 10px;
}