.text-input-margin{
  margin: 3px 0;
}
.text-input-error{
  border: 1px solid #ea5455;
}
.text-input-success{
  border: 1px solid #28c76f;
}
.text-input-error-message{
  color: #fff;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 0.428rem;
  background-color: #ea5455;
}
