
.modalContent{
    border:none !important;
    background: white !important;
    box-shadow: none !important;
    border-radius: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 240px;
}

.modalHolder{
    display: flex;
    justify-content: center;
}