.control-next.control-arrow {
  left:0 !important;
  right: unset !important;

  &:before {
    border-right: 8px solid #fff !important;
    border-left: unset !important;
  }
}


.control-prev.control-arrow {
  left:unset !important;
  right: 0 !important;

  &:before {
    border-left: 8px solid #fff !important;
    border-right: unset !important;
  }
}

