.show{
  height: auto;
  animation:fade 1s;
}

.show-first{
  height: auto;
}
.hide-first{
  height: 0;
}

.hide{
  height: 0;
}

.holder{
  overflow: hidden;
}

@keyframes fade {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}